.footer {
  color: #f4f4fd;
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .container {
  display: flex;
  align-items: flex-start;
}

.footer-logo-container {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
}

.footer-socials-title {
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
}

.footer .socials-item {
  width: 40px;
  height: 40px;
}

.footer .socials {
  gap: 16px;
  justify-content: center;
}

.footer .socials-icon {
  width: 24px;
  height: 24px;
}

.socials-link.green:hover,
.socials-link.green:focus {
  background-color: #31d0aa;
}
